* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/* **
   header
*/

.page--wrap {
   min-height: 100vh; /* takes up the whole page */
   background-color: #eee;
}


/* ** header */



header {
   padding: 1rem 0;
   background-color: #fff;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
   
}

.header--container {
   margin: 0 auto; /* makes left/right to auto, centers items on the page */
   width: 85%;
   max-width: 1260px;
   display: flex; 
   align-items: center; 
   align-content: center; 
}

/* we don't need to see the trigger in order to use it */
.trigger {
   display: none;
}

/* we use an attribute selector, lets grab all the input with the name "menu-trigger" */
/* let's style it when it's checked */
/* we want to get to the span tags to style those. */
/* we need to use a sibling selector "+" sign */
/* to go from input to its sibling "header--container__menu" */
/* inside the sibling there are span tags, we want to style the 2nd one */
input[name="menu-trigger"]:checked + .header--container__menu span:nth-of-type(2) {
   opacity: 0;
   height: 0; /* we want it to disapear */
   margin: 0;
}


.header--container__menu { /* centers the hamburger menu */
   display: flex;
   justify-content: center;
   align-items: center;
}

.header--container__menu__ham {
   cursor: pointer; /* when cursor hovers the menu, the former turns into a pointer */
   display: block;  /* an inline element that has block level elements */
}


.header--container__menu__ham span {
   display: block;
   width: 25px;
   height: 3px;
   background-color: #777;
   transition: transform .34s ease-in-out;
}

.header--container__menu__ham span:nth-of-type(2) {
   /* ** select the 2nd span */
   margin: 3px 0; /* separate the lines a little */
}

.header--container__logo {

}

.header--container__search {

}

.header--container__menu {
   
}

.header--container__menu,
.header--container__search {
   width: 30px;
   height: 30px;
}   

.header--container__logo {
   flex: 1; /* takes all the available space */
            /* pushes the search button to the right and the menu button to the left */
   text-align: center; /* centering the logo */
         }


