@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   color: rgb(59, 59, 59);
   background-color: rgb(207, 207, 207);
   font-size: 16px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   line-height: 1.7;
   display: grid;
}

h1, h2, h3 {
   text-transform: capitalize;
   text-align: center;
}

header {
   background-color: rgb(241, 241, 241);
}

.main-content {
   background-color: rgb(224, 224, 224);
   
}

.top-content {
   
}

.code {
   border-radius: 10px 10px 10px 10px ;
   background-color: rgb(43, 43, 43);
   color: rgb(44, 44, 44);
   width: 95%;
   
}

.reg-content {
   background-color: rgb(255, 253, 253);
   
}

pre {
   border-radius: 10px 10px 10px 10px ;
   background-color: #fff; 
   white-space: pre-wrap;
   word-wrap: break-word;
   text-align: justify;
}

pre {
  /* text-align: left;
   white-space: pre-line; */
 }