@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   display: grid;
   grid-template-columns: 25% 65% 10%;
   grid-template-rows: 8% 5% auto 3em; 
   background-color: rgb(207, 207, 207);
   font-size: 16px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   line-height: 1.5;  
   
}

.header {
   grid-column: 2/3;
   grid-row: 1/2;
   background-color: rgb(255, 255, 255);
   
}

.header__h1 {
   letter-spacing: 15px;
   padding: 1.6% 0 0 0;
}

.header__h2 {
   letter-spacing: 8px;
}

.column2--main__h2, .column2--main__h3 {
   background-color: rgb(255, 255, 255);
}

.column2--main__h3 {
   padding: 0 0 2% 0;
}

h1, h2, h3 {
   text-transform: capitalize;
   text-align: center;
}

li {
   text-transform: capitalize;
}
/* column1 menu */
.column1 {
   grid-column: 1/2;
   grid-row: 1/5;
   background-color: rgb(139, 139, 139);
   
}

/* main column */
.intro--top {
   grid-column: 2/3;
   grid-row: 2/3;  
   background-color: rgb(177, 177, 177);
   padding: 1.5% 3% 1.5% 3%;
}

.column2--main {
   grid-column: 2/3;
   grid-row: 3/4;
   background-color: rgb(224, 224, 224);  
   padding: 1.5% 3% 1.5% 3%;
   margin: 0 0 3% 0;
}

.column2--main__content {
   background-color: rgb(97, 97, 97);
   padding: 0.8% 0 0.8% 0;
}

.pre {
   border-radius: 8px 8px 8px 8px ;
   background-color: rgb(22, 22, 22); 
   white-space: pre-wrap;
   word-wrap: break-word;
   text-align: justify;
   color: rgb(245, 245, 245);
   margin: 0 0 
}

.footer {
   grid-column: 1/4;
   grid-row: 4/5;
   background-color: rgb(78, 78, 78);
   color: rgb(228, 228, 228);
}