
@import url(fontawesome-all.min.css);
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* contents */
/* nav */
/* body */
/* wrapper */
/* header */

/* javascript articles */
/* media queries */

/* ** body */
body {
    font-family: "Lato", sans-serif;
}

/* ** nav  */
.nav {
    background-color: rgb(200, 200, 200);
    display: flex;
    height: 2.5rem;
    justify-content: flex-end;
    text-transform: capitalize;
    text-decoration: none;
}

.nav-home,
.nav-step,
.nav-books,
.nav-twitter {
    background-color: darkgray;
    margin: 0.5rem;
    padding: 0.2rem 0.8rem;
}

.nav-twitter-icon li {
    font-size: 25px;
    text-decoration: none;
}

/* ** wrapper */ 
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
} 

/* ** header */
header {
    grid-column: 1/13; 
    text-align: center;
    background-color: rgb(172, 172, 172);
    padding: 1.3rem;
    text-align: center;
}

.header-h1 {
    letter-spacing: 4.5rem;
    text-transform: capitalize;
    font-size: 2.5rem;
}

/* ** javascript articles */
.articles-javascript_functions {
    grid-column: 3/5;
    grid-row: 4/5;
    background-color: rgb(202, 200, 200);
}

.articles-javascript_functionsMulti {
    grid-column: 5/7;
    grid-row: 4/5;
    background-color: rgb(155, 154, 154);   
}

.articles-javascript_objects {
    grid-column: 7/9;
    grid-row: 4/5;
    background-color: rgb(226, 224, 224);   
}

/* ** media queries */ 
@media (max-width: 500px) {
    .nav {
        justify-content: center;
    }
}