* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    background-color: rgb(200, 200, 200);
    display: flex;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
} 