@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   display: grid;
   grid-template-columns: 20% auto 10%;
   grid-template-rows: 3% 3% auto 3em; 
   background-color: rgb(207, 207, 207);
   font-size: 16px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   line-height: 1.5;  
   color: rgb(19, 19, 19);  
}

.header {
   grid-column: 2/3;
   grid-row: 1/2;
   background-color: rgb(255, 255, 255);
   text-align: center;
}

.header--title__primary {
   letter-spacing: 15px;
   padding: 1.6% 0 0 0;
   display: block;
}

.header--title__sub {
   letter-spacing: 8px;
   display: block;
   font-size: 22px;
}

h1, h2, h3 {
   text-transform: capitalize;
   text-align: center;
}

/* **column1 menu */

a {
   text-decoration: none;
   color: rgb(19, 19, 19);  
}

a:hover {
   font-weight: 700;
   font-style: italic;
}

a:visited {
   
}

.column1 {
   grid-column: 1/2;
   grid-row: 1/5;
   background-color: rgb(139, 139, 139);
   margin: 44% 0 0 0;
   padding: 0% 0 0 4%;
   text-decoration: none;
   
}

.column1--menu__menu {
   font-size: 22px;
   font-weight: bold;
   background-color: #777;
   padding: 0 0 2% 0;
}
.column1--menu__webDev, .column1--menu__read, .column1--menu__misc {
   font-size: 18px;
   font-weight: bold;
}

.column1--menu__webDev {
   padding: 0 0 2% 0;
}

.column1--menu__webPage {
   font-size: 18px;
   font-weight: bold;
}

.column1--menu__comingSoon {
   border-top: 1px dotted;
   padding: 1% 0 1% 0;
}

.column1-menu__books {
   border-top: 1px dotted;
   padding: 2.5% 0 0 0;
}

.column1--menu__misc {
   border-top: 1px dotted;
   padding: 2.5% 0 0 0;   
}


.column1--menu__read  {
   background-color: #777;
   padding: 0 0 2% 0;
}

/* TODO: do hover over link, unline shows */
li {
   text-transform: capitalize;
   list-style-type: none;
  
}

/* ** main column */
.intro--top {
   grid-column: 2/3;
   grid-row: 2/3;  
   background-color: rgb(177, 177, 177);
   padding: 1.5% 3% 1.5% 3%;
}

.column2--main__h2, .column2--main__h3 {
   background-color: rgb(255, 255, 255);
}

.column2--main__h3 {
   padding: 0 0 2% 0;
}


.column2--main {
   grid-column: 2/3;
   grid-row: 3/4;
   background-color: rgb(224, 224, 224);  
   padding: 1.5% 3% 1.5% 3%;
   margin: 0 0 3% 0;
}

.column2--main__content {
   background-color: rgb(143, 143, 143);
   padding: 0.8% 0 0.8% 0;
}

.pre {
   border-radius: 8px 8px 8px 8px ;
   background-color: rgb(22, 22, 22); 
   white-space: pre-wrap;
   word-wrap: break-word;
   text-align: justify;
   color: rgb(245, 245, 245);
   margin: 0 0 
}

.footer {
   grid-column: 1/4;
   grid-row: 4/5;
   background-color: rgb(78, 78, 78);
   color: rgb(228, 228, 228);
   padding: 1%;
}